<div class="modal" id="contact-modal">
    <div class="modal__content">
        <form class="modal__form form">
            <div class="form__title modal__form-title">Отправьте заявку</div>
            <div class="form-group">
                <input class="input" type="text" placeholder="Ф.И.О">
                <input class="input" type="text" placeholder="+ 7 (000) 000-00-00">
            </div>
            <button class="btn btn--pink" type="button">Отправить заявку</button>
            <div class="form__terms">
                Отправляя заявку вы соглашаетесь с
                <a class="color-secondary" href="javascript:void(0)">
                    политикой конфиденциальности сайта
                </a>
            </div>
        </form>
    </div>
</div>